{% extends 'dash/base.html' %}

{% block content %}

    <div class="container">
        <div class="box-info">
            <h1 class="title-home">Time Limited Exceeded - Forum to Devs</h1>
            <p class="text-home">Welcome to Time Limited Exceeded - Forum to Devs! Our forum platform
                is the ideal environment for developers to discuss the challenges and
                problems faced in the world of programming. Here, you will find an interactive
                and collaborative space designed specifically for the developer community
                seeking solutions and knowledge sharing. Our goal is to provide an enriching
                environment where developers can connect, learn, and grow together.
            </p>
        </div>
    </div>

{% endblock %}